body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #1c1c1c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: white;
    text-align: center;
    padding: 1em 0;
    color: #1c1c1c;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.blog-list-container {
    width: 100%;
    text-align: center;
}

.blog-list {
    list-style-type: none;
    padding: 0;
}

.blog-list li {
    margin: 1em 0;
}

.blog-list a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.5em;
}

.blog-list a:hover {
    text-decoration: underline;
}

.blog-content {
    max-width: 650px;
    width: 100%;
    margin: 0 20px;
    text-align: justify;
}

.blog-content h1, .blog-content h2, .blog-content h3 {
    color: #1c1c1c;
}

.blog-content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    color: #1c1c1c;
}

.blog-content ul, .blog-content ol {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    color: #1c1c1c;
}

.blog-content img, .blog-content .math {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}