body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #1e1e1e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: white;
    text-align: center;
    padding: 1em 0;
    color: #1e1e1e;
}

header.hidden-header {
    visibility: hidden; /* Makes the header invisible but keeps the space */
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    box-sizing: border-box;
}

.blog-list-container {
    flex: 1;
    text-align: left;
    padding-right: 20px;
    max-width: 600px;
    border-right: 1px solid #ccc; /* Vertical line separating blog list and about me */
}

.blog-list {
    list-style-type: none;
    padding: 0;
}

.blog-list li {
    margin: 1em 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

.blog-list li:last-child {
    border-bottom: none;
}

.blog-list a {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 1.5em;
    cursor: pointer;
}

.blog-list a:hover {
    text-decoration: none;
}

.blog-list h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.blog-list .date, .blog-list .keywords, .blog-list p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    line-height: 1.2em; /* Reduced line spacing */
}

.blog-list .date-keywords {
    display: flex;
    justify-content: space-between;
}

.about-me {
    width: 200px;
    flex-shrink: 0;
    padding-left: 20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20px; /* Distance from the top when scrolling */
    align-self: flex-start; /* Aligns the about me section to the start of the flex container */
}

.about-me img.about-me-photo {
    width: 100px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about-me h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #1e1e1e;
}

.about-me p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #1e1e1e;
}

.blog-content {
    max-width: 600px;
    width: 100%;
    margin: 0 20px;
    text-align: justify;
}

.blog-content h1, .blog-content h2, .blog-content h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #1e1e1e;
    text-align: left;
}

.blog-content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    color: #1e1e1e;
}

.blog-content ul, .blog-content ol {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    color: #1e1e1e;
}

.blog-content img, .blog-content .math {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* Media Queries for Responsive Design */
@media (max-width: 800px) {
    .content-container {
        flex-direction: column;
    }

    .about-me {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
        border-top: 1px solid #ccc; /* Horizontal line for separation */
        order: -1; /* Ensure About Me section is above the blog list */
        position: relative; /* Remove sticky positioning for small screens */
        top: 0; /* Reset top position for small screens */
    }

    .blog-list-container {
        border-right: none;
        padding-right: 0;
    }
}
